#container {
  max-width: 600px;
  width: 60%;
}

.toc-post-date {
  display: block;
}

@media screen and (max-device-width: 900px) {
  #container {
    width: 90%;
  }
}

@media screen and (max-device-width: 450px) {
  #container {
    width: auto;
  }
  .toc-post-date {
    display: none;
  }
}

body {
  font-family: serif, monospace;
  font-size: 1.2rem;
  background-color: #ffffe6;
  background-image: url("/assets/images/texture.png");
}

img {
  display: block;
  margin: auto;
  max-width: 100%;
}
